/* https://virtualsky.lco.global/  begin*/
* { 
	font-family: Helvetica, sans-serif;
	color: black;
	height: 100%;
	font-size: 1em;
}
body {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#starmap { 
	overflow: hidden; 
	z-index: 1;
    height: 100%;
    width:100%; 
    position: relative;
}
#virtualskyinfobox{
	font-size: 12px;
	display:none;
	background-color:rgba(200,200,200,1);
	color:black;
	padding:5px;
	max-width:150px;
	border-radius:0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow:0px 0px 20px rgba(255,255,255,0.5);
	-moz-box-shadow:0px 0px 20px rgba(255,255,255,0.5);
	-webkit-box-shadow:0px 0px 20px rgba(255,255,255,0.5);
}
.virtualskyinfocredit {
	font-size:0.5em;
	float:left;
	position:relative;
	padding:5px;
	color: white;
}
#virtualskyinfobox img { 
	width: 128px; 
    height: 128px; 
}
/* https://virtualsky.lco.global/ eind*/

#overlayContainer{
	z-index: 2;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: auto;
}
#containerForm{
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 0px;
	margin: 1% 1% 0% 0%;
}
#searchform{
	height: 50%;
}
#searchform.input{
	border: 0px;
	padding: 0px 0px 2px 2px;
}

#weatherRightMenuBlock{
	display: flex;
	justify-content: flex-end;
	overflow-y: hidden;
}
#weatherConditionName, #temperature, #clock{
	color: white;
	font-size: 22pt;
}
#weatherConditionName, #temperature{
	font-size: 16pt;
}

.iconWeather{
	width: 200px;
  	height: auto;
}
#conditionWeather{
	display: flex;
	justify-content: space-evenly;
}
#columnText{
	display: flex;
	flex-direction: column;
}



.parallax{
	background-attachment: scroll;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}