/* https://virtualsky.lco.global/ */
* { 
    overflow: hidden; 
	font-family: Helvetica, sans-serif;
	color: black;
	height: 100%;
	font-size: 1em;
}
body {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#starmap { 
	z-index: 1;
    height: 100%;
    width:100%; 
    position: relative; 
}
#virtualskyinfobox{
	font-size: 12px;
	display:none;
	background-color:rgba(200,200,200,1);
	color:black;
	padding:5px;
	max-width:150px;
	border-radius:0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow:0px 0px 20px rgba(255,255,255,0.5);
	-moz-box-shadow:0px 0px 20px rgba(255,255,255,0.5);
	-webkit-box-shadow:0px 0px 20px rgba(255,255,255,0.5);
}
.virtualskyinfocredit {
	font-size:0.5em;
	float:left;
	position:relative;
	padding:5px;
	color: white;
}
#virtualskyinfobox img { 
    width: 128px; 
    height: 128px; 
}
#overlayContainer{
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 2;
}
#containerForm{
	height: 4%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 2;
	display: flex;
	align-content: flex-end;
}
#searchform.input{
	border: 0px;
	padding: 0px 0px 0px 2px;
}
/* https://virtualsky.lco.global/ */